<div class="col-lg-12" id="titleProye">
    <h1>Proyectos  
        <button class="btn mb-3" data-bs-toggle="modal" data-bs-target="#addProyeModal" *ngIf="isLogged"><i id="plusIcon" class="fa-solid fa-square-plus"></i></button>
    </h1>
<div class="row">
   
        <div *ngFor="let proyecto of proyectos" class="col-sm-12 col-md-6 col-lg-4 imgTexto">
            <ul>
                <li>
                    <div class="card mb-3" style="width: 15rem;">
                        <img [src]="proyecto.imgProye" class="img-fluid proyectoImg" alt="portfolio">
                    </div>
                    <div class="card-body">
                        <h1 class="card-text" id="name">{{proyecto.nameProye}} 
                            <button (click)="actualizarProye(proyecto.idProye)" class="btn mb-2" data-bs-toggle="modal" data-bs-target="#editProyeModal" *ngIf="isLogged"><i id="penIcon" class="fa-solid fa-pen-to-square"></i></button>
                            <button (click)="borrarProye(proyecto.idProye)" class="btn mb-2" *ngIf="isLogged"><i id="trashIcon" class="fa-solid fa-trash-can"></i></button>
                        </h1>
                        <p class="card-text" id="time"><time>{{proyecto.fechaProye}}</time></p>
                        <p class="card-text" id="reseña">{{proyecto.descripProye}}</p>
                        <button  class="btn mb-2"><a [href]="proyecto.enlaceProye"><i id="arrowIcon" class="fa-solid fa-arrow-up-right-from-square"></i></a></button>
                    </div>
                
                </li>
            </ul>
        </div>
</div>

<!--Modal añadir-->
<div class="modal fade" id="addProyeModal" tabindex="-1" aria-labelledby="addProyeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addProyeModalLabel">Añadir Proyecto</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="formProy" (ngSubmit)="agregarProye()">
                    <div class="form-group">
                        <label for="name-Proye" class="form-label">Nombre</label>
                        <input formControlName="nameProye" type="text"  class="form-control" id="name-Proye" autocomplete="off">
                        <span *ngIf="formProy.get('nameProye')?.invalid && formProy.get('nameProye')?.touched" class="text-danger">El nombre del proyecto es requerido</span>
                    </div>
                    <div class="form-group">
                        <label for="descrip-Proye" class="form-label">Reseña</label>
                        <textarea formControlName="descripProye" type="text"  class="form-control" id="descrip-Proye" rows="8" autocomplete="off"></textarea>
                        <span *ngIf="formProy.get('descripProye')?.invalid && formProy.get('descripProye')?.touched" class="text-danger">La descripcion del proyecto es requerida</span>
                    </div>
                    <div class="form-group">
                        <label for="img-Proye" class="form-label">Imagen URL</label>
                        <input formControlName="imgProye" type="text"  class="form-control" id="img-Proye" autocomplete="off">
                        <span *ngIf="formProy.get('imgProye')?.invalid && formProy.get('imgProye')?.touched" class="text-danger">El link es requerido</span>
                    </div>
                    <div class="form-group">
                        <label for="fecha-IniProy" class="form-label">Fecha de Realizacion</label>
                        <input formControlName="fechaProye" type="text" class="form-control" id="fecha-IniProy" autocomplete="off">
                        <span *ngIf="formProy.get('fechaProye')?.invalid && formProy.get('fechaProye')?.touched" class="text-danger">La fecha de realizacion  es requerida</span>
                    </div>
                    <div class="form-group">
                        <label for="enlace-Proy" class="form-label">Enlace</label>
                        <input formControlName="enlaceProye" type="text" class="form-control" id="enlace-Proy" autocomplete="off">
                        <span *ngIf="formProy.get('enlaceProye')?.invalid && formProy.get('enlaceProye')?.touched" class="text-danger">El link es requerido</span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button"  class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                <button type="submit" (click)="agregarProye()" [disabled]="formProy.invalid" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>
<!--Modal editar-->
<div class="modal fade" id="editProyeModal" tabindex="-1" aria-labelledby="editProyeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editProyeModalLabel">Editar Proyecto</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="formProy" (ngSubmit)="editProyecto()">
                    <div class="form-group">
                        <label for="nombre-Proye" class="form-label">Nombre</label>
                        <input formControlName="nameProye" type="text"  class="form-control" id="nombre-Proye" autocomplete="off">
                        <span *ngIf="formProy.get('nameProye')?.invalid && formProy.get('nameProye')?.touched" class="text-danger">El nombre del proyecto es requerido</span>
                    </div>
                    <div class="form-group">
                        <label for="descri-Proye" class="form-label">Reseña</label>
                        <textarea formControlName="descripProye" type="text"  class="form-control" id="descri-Proye" rows="8" autocomplete="off"></textarea>
                        <span *ngIf="formProy.get('descripProye')?.invalid && formProy.get('descripProye')?.touched" class="text-danger">La descripcion del proyecto es requerida</span>
                    </div>
                    <div class="form-group">
                        <label for="imgn-Proye" class="form-label">Imagen URL</label>
                        <input formControlName="imgProye" type="text"  class="form-control" id="imgn-Proye" autocomplete="off">
                        <span *ngIf="formProy.get('imgProye')?.invalid && formProy.get('imgProye')?.touched" class="text-danger">El link es requerido</span>
                    </div>
                    <div class="form-group">
                        <label for="fecha-Proy" class="form-label">Fecha de Realizacion</label>
                        <input formControlName="fechaProye" type="text" class="form-control" id="fecha-Proy" autocomplete="off">
                        <span *ngIf="formProy.get('fechaProye')?.invalid && formProy.get('fechaProye')?.touched" class="text-danger">La fecha de realizacion  es requerida</span>
                    </div>
                    <div class="form-group">
                        <label for="link-Proy" class="form-label">Enlace</label>
                        <input formControlName="enlaceProye" type="text" class="form-control" id="link-Proy" autocomplete="off">
                        <span *ngIf="formProy.get('enlaceProye')?.invalid && formProy.get('enlaceProye')?.touched" class="text-danger">El link es requerido</span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button"  class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                <button type="submit" (click)="editProyecto()" [disabled]="formProy.invalid" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>

 <!--Notificacion cuando no hay proyectos-->
 <div *ngIf="proyectos.length == 0" class="col-lg-12 col-md-12 col-xl-12">
    <div class="alert alert-info" role="alert">
        <p>No hay proyectos para mostrar</p>
    </div>
</div>
