
   <!--Drag-drop-->
   <div class="container mt-5">
    <div class="row">
      <div class="btn">
        <input type="image" src="../../../assets/img/14-modal.png" class="btn" 
        data-bs-toggle="modal" data-bs-target="#miModal"/>
        <div class="modal fade" id="miModal" tabindex="-1" aria-labelledby="miModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="miModalLabel">HOLA</h5>
                  <div class="modal-body">
                    <h5>Elige y ordena los idiomas con su respectiva pronunciación</h5>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-4 mb-3">
      <audio id="miAudio" controls onclick="playAudio('miAudio')">
          <source src="../../../assets/img/01-annyeonghaseyo.mp3" type="audio/mpeg">
      </audio>
      <audio id="miAudio" controls onclick="playAudio('miAudio')">
          <source src="../../../assets/img/02-hello.mp3" type="audio/mpeg">
      </audio>
      <audio id="miAudio" controls onclick="playAudio('miAudio')">
          <source src="../../../assets/img/03-ni hao.mp3" type="audio/mpeg">
      </audio>
      <audio id="miAudio" controls onclick="playAudio('miAudio')">
          <source src="../../../assets/img/04-bonjour.mp3" type="audio/mpeg">
      </audio>
  </div>
    </div>
    <div class="row mb-3">
      <div class="col-sm-6 col-md-6 col-lg-4">
        <h4>Idiomas</h4>
        <div cdkDropList class="example-list" id="list-idiom" [cdkDropListData]="idiomas" [cdkDropListConnectedTo]="['list-pronun']" (cdkDropListDropped)="drop($event)" >
          <div class="example-box" *ngFor="let item of idiomas" cdkDrag>{{item}}</div>
        </div>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-4">
        <h4>Pronunciación</h4>
        <div cdkDropList class="example-list" id="list-pronun" [cdkDropListData]="pronunciacion" [cdkDropListConnectedTo]="['list-idiom']" (cdkDropListDropped)="drop($event)" >
          <div class="example-box" *ngFor="let item of pronunciacion" cdkDrag>{{item}}</div>
        </div>
       </div>
       <div class="col-sm-6 col-md-6 col-lg-4">
        <h4>Escritura</h4>
        <div cdkDropList class="example-list" id="list-write" [cdkDropListData]="escritura"  (cdkDropListDropped)="drop($event)" >
          <div class="example-box" *ngFor="let item of escritura" cdkDrag>{{item}}</div>
        </div>
       </div>
    </div>
   </div>
   


 
